$header-height: 60px;
$chat-width: 400px;
$stream-entry-width: 340px;

$color-font-lightgray: #7B8084;
$color-font-darkergray: #515151;

/* LAYOUT */
header {
    position: fixed;
    top: 0;
    left: 0;
    height: $header-height;
    background: white;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid rgb(157, 140, 140);
    @include box-shadow(0 -1px 7px 1px #CDCDCD);
    z-index: 100;
}

.content-row {
    margin-top: $header-height;
}

.inner-content {
    padding: 30px 40px;
}

/* TYPOGRAPHY */
h1, h2, h4 {
    margin: 0;
}

body {
  font-family: "DROID SANS", sans-serif;
}

header h1 a {
    color: $color-font-lightgray;

    &:hover, &:focus {
        text-decoration: none;
        color: $color-font-lightgray;
    }
}

h2 {
    color: $color-font-darkergray;
}

h4 {
    font-size: 13pt;
}

/* HEADER */
.user-info {
    margin: 10px 0 0 0;

    > a {
        border-left: 1px rgb(142, 137, 137) solid;
        padding: 0 8px 0 8px;
        font-size: 12pt;

        &:first-child {
            border-left: none;
        }
    }
}

/* INDEX PAGE */
#stream-list {
    list-style: none;
    margin: 0;
    padding: 0;

    .stream-entry {
        display: inline-block;
        width: $stream-entry-width;
        margin-right: $stream-entry-width / 10;
        margin-bottom: 25px;
        color: $color-font-lightgray;

        .username-row {
            margin-bottom: 5px;
        }

        .player-preview {
            width: $stream-entry-width;
            height: $stream-entry-width / 1.7857;
            border: 1px solid black;
        }

        .stream-info-row {
            margin-top: 5px;
        }
    }
}

#event-timeline {
    width: 220px;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            margin-bottom: 15px;
        }
    }

    h2 {
        margin-bottom: 15px;
    }

    .event-time {
        background: rgb(229, 229, 229);
        border-radius: 3px;
        padding: 2px;
    }
}

/* STREAM PAGE */
.stream-title {
    margin-bottom: 10px;
}

#stream-area {
    margin-right: $chat-width;

    .technologies-list {
        margin: 20px 0px;
        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                font-size: 14pt;
                display: inline-block;
                background-color: rgb(175, 222, 247);
                padding: 5px;
                border-radius: 3px;
                margin-right: 15px;
            }
        }
    }

    .commits-list {
        margin: 20px 0px;
        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                width: 250px;
                font-size: 12pt;
                display: table-cell;
                padding-right: 10px;
            }
        }
    }

    .stream-info-row {
        margin: 5px 0px;
        font-size: 12pt;
    }
}

.so-badge {
    background-color: rgb(244, 121, 32);
    border-radius: 4px;
    padding: 1px;
}

#chat {
    position: fixed;
    top: $header-height;
    right: 0;
    bottom: 0;
    width: $chat-width;

    background: rgb(235, 235, 239);
    border-left: 1px solid rgb(157, 140, 140);

    .chat-wrapper {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: 5px 5px 95px 5px;
        width: 390px;
    }

    .messages-area {
        height: 100%;
        padding: 5px;
        background: white;
        overflow-y: auto;
    }

    .input-area {
        position: fixed;
        bottom: 5px;
        width: 390px;
        vertical-align: bottom;

        textarea {
            width: 100%;
            margin-top: 5px;
        }
    }
}

/* TECHNOLOGIES PAGE */
.technology {
    border-left: 2px solid rgb(195, 195, 195);
    padding-left: 15px;
    margin-top: 25px;

    .technology-materials {
        margin: 15px 0;
        padding: 0;
        list-style: none;

        .material-block {
            display: inline-block;
            max-width: 270px;
            vertical-align: top;
            margin-right: 18px;

            .material-title {
                font-size: 12pt;
                font-weight: bold;
            }
        }
    }
}


/* PROFILE PAGE */
#profile {
    width: 50%;
    .profile-group {
        margin-bottom: 25px;
    }
}


/* MODALS */
.modal-header {
    .modal-title {
        font-size: 1.5em;
    }
}

.modal-footer {
    text-align: left;
}