<div class="modal-header">
    <span class="modal-title">New Series</span>
</div>

<form cs-form>
    <div class="modal-body">
        <cs-non-field-errors></cs-non-field-errors>

        <div class="form-group" cs-form-group>
            <label for="title">Series title</label>
            <input ng-model="input.title" class="form-control" id="title" name="title" type="text">
        </div>

        <div class="form-group" cs-form-group>
            <label for="description">Description</label>
            <textarea ng-model="input.description" class="form-control" id="description" name="description">
            </textarea>
        </div>

        <div class="form-group" cs-form-group>
            <label for="title">Technologies</label>
            <ui-select multiple ng-model="input.technologies" name="technologies">
                <ui-select-match placeholder="Choose the technologies you'll use in the stream...">
                    {{ $item.title }}
                </ui-select-match>

                <ui-select-choices repeat="technology.id as technology in technologies">
                    <div ng-bind-html="technology.title | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>

        <div class="form-group" cs-form-group>
            <label for="repo">Github repo</label>
            <input ng-model="input.repo" class="form-control" id="title" name="repo" type="text">
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary" type="submit" ng-click="submit()">Create</button>
        <a class="btn btn-link" ng-click="$dismiss()">Cancel</a>
    </div>
</form>