<div class="modal-header">
    <span class="modal-title">Start Stream</span>
</div>

<form cs-form>
    <div class="modal-body">
        <cs-non-field-errors></cs-non-field-errors>

        <div class="form-group" cs-form-group>
            <label for="title">Stream title</label>
            <input ng-model="input.title" class="form-control" id="title" name="title" type="text">
        </div>

        <div class="form-group" cs-form-group>
            <label for="title">Series</label>
            <ui-select ng-model="input.series" name="series">
                <ui-select-match placeholder="No Series" allow-clear="true">
                    {{ $select.selected.title }}
                </ui-select-match>

                <ui-select-choices repeat="seriesEntity in series">
                    <div ng-bind-html="seriesEntity.title | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>

        <div class="form-group" cs-form-group>
            <label for="title">Technologies</label>
            <ui-select ng-model="input.technologies" name="technologies">
                <ui-select-match placeholder="Choose technologies you'll use in the stream...">
                    {{ $select.selected.title }}
                </ui-select-match>

                <ui-select-choices repeat="technology in technologies track by $index"
                                   refresh="refreshTechnologies($select.search)" refresh-delay="0">
                    <div ng-bind-html="technology.title | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
            <p class="help-block">Create new technology by typing its title and pressing Enter</p>
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary" type="submit" ng-click="submit()">Start</button>
        <a class="btn btn-link" ng-click="$dismiss()">Cancel</a>
    </div>
</form>