<div class="inner-content">
    <ul id="stream-list">
        <li ng-repeat="stream in streams" class="stream-entry" ng-cloak>
            <h4>
                <a ui-sref="main.stream({username: stream.user.username})">{{ stream.title }}</a>
            </h4>
            <div class="username-row">
                <span><i class="fa fa-user"></i> {{ stream.user.username }}</span>
            </div>
            <a href="/streams/{{ stream.user.username }}/">
                <img ng-src="{{ stream.preview_url }}" class="player-preview">
            </a>

            <div class="stream-info-row clearfix">
                <span class="started pull-left" am-time-ago="stream.started" title="{{ stream.started }}">
                </span>
                <span class="viewers pull-right">
                    <i class="fa fa-eye"></i> {{ stream.viewers }}
                </span>
            </div>
        </li>
    </ul>
</div>