<div class="modal-header">
    <span class="modal-title">Log in</span>
</div>

<form>
    <div class="modal-body">
        <div class="form-group">
            <label for="username">Username</label>
            <input ng-model="input.username" class="form-control" id="username" name="username"  type="text">
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input ng-model="input.password" class="form-control" id="password" name="password"  type="password">
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary" type="submit" ng-click="submit()">Log in</button>
        <button class="btn btn-link" ng-click="$dismiss()">Cancel</button>
    </div>
</form>