<header>
    <h1 class="pull-left">
        <a ui-sref="main.index">
            <i class="fa fa-laptop"></i>
            Code Stream
        </a>
    </h1>

    <div ng-show="currentUser.is_authenticated" class="user-info pull-right">
        <a ui-sref="main.userProfile"><i class='fa fa-user'></i> {{ currentUser.username }}</a>
        <a ui-sref="main.technologies">Technologies</a>
        <a href ng-click="startStream()">Start stream</a>
        <a href ng-click="logout()">Log out</a>
    </div>

    <div ng-hide="currentUser.is_authenticated" class="user-info pull-right">
        <a ui-sref="main.technologies">Technologies</a>
        <a href ng-click="login()">Log in</a>
        <a href ng-click="createAccount()">Create account</a>
    </div>
</header>


<div class="content-row">
    <ui-view></ui-view>
</div>