<div class="inner-content" ng-if="model.is_authenticated">
    <form cs-form>
        <cs-non-field-errors></cs-non-field-errors>

        <div class="form-group" cs-form-group>
            <label for="twitch-channel">Twitch channel:</label>
            <input class="form-control" type="text" ng-model="model.info.twitch_channel" name="twitch_channel"
                   id="twitch-channel">
        </div>

        <div class="form-group" cs-form-group>
            <label for="github-profile">Github profile:</label>
            <input class="form-control" type="text" ng-model="model.info.github_profile" name="github_profile"
                   id="github-profile">
        </div>

        <button class="btn btn-primary" ng-click="save()">Save</button>
    </form>
</div>

<div class="inner-content" ng-hide="model.is_authenticated">
    You need to be logged in in order to see your profile page.
</div>