<div class="inner-content">
    <div id="stream-area">
        <h2 class="stream-title" ng-hide="stream.offline">{{ stream.title }}</h2>
        <span ng-show="stream.offline">This stream is currently offline</span>

        <div class="player" cs-player-height-resize>
            <object type="application/x-shockwave-flash" id="live_embed_player_flash"
                    data="http://www.twitch.tv/widgets/live_embed_player.swf?channel={{ stream.user.info.twitch_channel }}"
                    height="100%" width="100%" wmode='opaque'>
                <param name="allowFullScreen" value="true" />
                <param name="allowScriptAccess" value="always" />
                <param name="allowNetworking" value="all" />
                <param name="movie" value="http://www.twitch.tv/widgets/live_embed_player.swf" />
                <param name="flashvars"
                       value="hostname=www.twitch.tv&channel={{ stream.user.info.twitch_channel }}&auto_play=false&start_volume=100" />
            </object>
        </div>
    </div>

    <div id="chat">
        <div class="chat-wrapper">
            <div class="messages-area">
                <div class="chat-message" ng-repeat="message in chatMessages track by $index">
                    <strong>{{ message.user }}</strong>: <span ng-bind-html="message.text"></span>
                </div>
            </div>
            <div class="input-area">
                <textarea ng-model="input.text"></textarea>
                <button class="btn btn-default" ng-click="sendChatMessage()">Send</button>
                <label><input type="checkbox" ng-model="input.code"> Code</label>
            </div>
        </div>
    </div>
</div>