{% load staticfiles %}

<!DOCTYPE html>
<html lang="en" ng-app="CodeStream" ng-strict-di>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Code Stream</title>
    <link rel="stylesheet" href="{% static 'style.css' %}"/>
</head>
<body>
    <ui-view></ui-view>

    <script src="{% static 'vendors.js' %}"></script>
    <script src="{% static 'app.js' %}"></script>
    <script>
        {{ backend_data_service_code|safe }}
    </script>
</body>
</html>