{% load staticfiles %}

<!DOCTYPE html>
<html lang="en" ng-app="CodeStream">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Code Stream</title>
    <link rel="stylesheet" href="{% static 'style.css' %}"/>
</head>
<body ng-controller="MainController as mainController">
    <header class="clearfix">
        <h1 class="pull-left">Code Stream</h1>
        <div class="user-info pull-right">
            {% if user.is_authenticated %}
                <a href="#">Account Settings</a>
                <a href ng-click="mainController.startStream()">Start stream</a>
                <a href ng-click="mainController.logout()">Log out</a>
            {% else %}
                <a href ng-click="mainController.createAccount()">Create account</a>
                <a href ng-click="mainController.login()">Log in</a>
            {% endif %}
        </div>
    </header>

    <section class="container-fluid">
        {% block main %}{% endblock %}
    </section>

    <script type="text/javascript" src="{% static 'js/ws4redis.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendors.js' %}"></script>
    <script type="text/javascript" src="{% static 'app.js' %}"></script>
</body>
</html>