{% extends 'base.html' %}

{% block main %}
<div class="inner-content">
    <ul id="stream-list" ng-cloak>
        {% verbatim %}
            <li ng-repeat="stream in streams">
                <div>
                    <a href="/streams/{{ stream.user.username }}/">
                        <span>{{ stream.title }}</span>
                    </a>
                    <br>
                    <span>{{ stream.user.username }}</span>
                    <a href="/streams/{{ stream.user.username }}/">
                        <img ng-src="{{ stream.preview_url }}" class="player-preview">
                    </a>


                    <div class="stream-info clearfix">
                        <span class="author">{{ stream.author.full_name }}</span>
                        <span class="started pull-left" am-time-ago="stream.started" title="{{ stream.started }}">
                        </span>
                        <span class="viewers pull-right">
                            viewers: {{ stream.viewers }}
                        </span>
                    </div>
                </div>
            </li>
        {% endverbatim %}
    </ul>
</div>
{% endblock %}